{% extends "base_generic.html" %}

{% block content %}
<h1>{{password.title}}</h1>
<hr></hr>
{% if password.website %}
<p>Website: {{password.website}}</p>
{% endif %}
{% if password.username %}
<p>Username: {{password.username}}</p>
{% endif %}
{% if password.email %}
<p>Email: <a href="mailto:{{password.email}}">{{password.email}}</a></p>
{% endif %}
<label for="pwd">Password: </label>
<input type="password" placeholder="Password" id="pwd" class="masked" name="password" value="{{password.password}}" />
<button type="button" id="eye">
    <img src="https://cdn0.iconfinder.com/data/icons/feather/96/eye-16.png" alt="eye" />
</button>

<div class="mt-5">
    <article style="margin-right: 1rem" class="d-inline">
        <button class="btn btn-outline-warning" type="button">
            <a href="{% url 'passwords-update' password.pk %}" class="text-dark text-decoration-none">Update password</a>
        </button>
    </article>
    <article class="d-inline">
        <button type="button" class="btn btn-outline-danger">
            <a href="{% url 'passwords-delete' password.pk %}" class="text-dark text-decoration-none">Delete password</a>
        </button>
    </article>
    
</div>
{% endblock %}